*{margin: 0;
padding: 0}

.xuong {
    width: 30px;
    height: 60px;
    border: 1px solid white;
    left: 20%;
    position: absolute;
    left: 48%;
    top: 90%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.xuong:hover {
    top: 88%;
    background: black;
}

.xuong:after {content: "";width: 1px;height: 7px;position: absolute;border: 1px solid white;top: 31px; background: white;}

img.img-fluid {
    padding-top: 23px;
}

.cot1_3 {
    line-height: 28px;
}

.cot3_3 {
    line-height: 28px;
}

img.img-fluid {
    /* height: 600px; */
}

h2.kinhnghiem {
    color: red;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 30px;
}

.cot3_3 {
    padding-left: 40px;
}

img.img-fluid {
    margin-top: 15px;
}

span.motaqt {
    font-family: cursive;
}

h3.tieudecap3 {
    font-family: cursive;
    line-height: 1;
}

.cot1_3 h2.quatrinhhoc {
    color: red;
    text-transform: uppercase;
    font-size: 30px;
}

.cot1_3 {
    padding-right: 40px;
}

.bigtitle h1 {
    display: inherit;
    font-weight: bold;
    padding-bottom: 70px;
}

.bigtitle {
    margin-top: 80px;
}

.nuthire.btn.btn-primary {
  width: 190px;
  background: black;
  border: none;
}

p {
    color: #000000a6;
}



h2 {
    font-size: 40px;
    color: #000000ab;
}

.avatar img {
    border-radius: 50%;
    height: 260px;
    width: 260px;
    padding-bottom: 15px;
}

.avatar {
    padding-top: 200px;
    font-family: cursive;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    width: 100%;
    height: 100px;
}

.khoi1 {
    width: 100%;
    height: 100%;
    background: url(images/Red.jpg);
}

html,body {
    width: 100%;
    height: 100%;
}

li.nav-item {
    font-family: cursive;
    font-size: 20px;
    padding-right: 7px;
}

.menutop {
    width: 100%;
    height: 100px;
    position: fixed;
}

a.navbar-brand {
    padding: 0;
    margin-right: 40%;

}

a.navbar-brand img {
    height: 90px;
    width: 100px;
}


@media (max-width:576px){
  *{}

.avatar {
    margin-left: 50px;
}
