* {
  margin: 0;
  padding: 0;
}

img {
    width: 100%;
    /* background-size: cover; */
    height: 600px;
    /* background-size: auto; */
}

body {
    background: #9c511a;
}

b {
    font-family: cursive;
    margin-left: 43%;
}

h1 {
    font-family: cursive;
    font-size: 66px;
    text-align: center;
}
